<div id="rounded">
<center>
  <p><strong>Welcome</strong></p>
<p><%= current_user.name %></p>
<%= image_tag "#{current_user.picture}" %><br>
<div id="bank">
<%= render 'bankroll' %>
</div>
<p><strong>Wager</strong></p>
<p id="bet_amount"> $ <%= session[:bet]%></p>
<div id="chips">
<%= render 'chips' %>
</div>
</div>