<div id="rounded">
<center>
  <p><strong>Welcome</strong></p>
<p><%= current_user.name %></p>
<%= image_tag "#{current_user.picture}" %><br>
<p><strong>Bankroll</strong></p>
<p>$ <%= current_user.bankroll %></p>
<p><strong>Wager</strong></p>
$<label id="bet_amount"></label>
<%= link_to_function image_tag("25chip.png"), "wager(25);" %>
<%= link_to_function image_tag("50chip.png"), "wager(50);" %>
<%= link_to_function image_tag("100chip.png"), "wager(100);" %>
</div>