<!DOCTYPE html>
<html>
<head>
  <title>BlackJack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="headerbar">
     <div id="header"><h1>Lets Play BlackJack!! (beta) </h1></div>
     <div id="headpic"><%= image_tag("bj2.png")  %></div>
    </div>
    <%= yield %>
    </div>
  </div>
</body>
</html>
